$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$gris-clair: #F5F5F5;
$gris-fonce: #E0E0E0;

@mixin center-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin gras {
    font-weight: bold;
}
@mixin paddingcoeur {
    padding: 15px;
}
@mixin paddinginfo {
    padding: 10px;
}

@mixin rest-prv {
    margin: auto;
    height: 200px;
    width: 280px;
    position: relative;
    border-radius: 10px;
}
@mixin rest-prvinfo{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    line-height: 15px;
    margin-top:-10px; 
}
@mixin btn-shadow($color-primary){
    background-color: lighten($color-primary, 35%);
} 

@mixin degrade {
    background: linear-gradient($color-secondary,$color-primary);
}
@font-face {
    font-family: 'robotoregular';
    src: url('Roboto-Regular-webfont.eot');
    src: url('Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Regular-webfont.woff2') format('woff2'),
         url('Roboto-Regular-webfont.woff') format('woff'),
         url('Roboto-Regular-webfont.ttf') format('truetype'),
         url('Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Shrikhand-Regular';
    src: url('Shrikhand-Regular.otf');
    font-weight: normal;
    font-style: normal;

}
h1{
    font-family: 'Shrikhand-Regular';
}
#index{
    height: 100%;
    width: 320px;    
    
}

body{
    font-family: 'robotoregular';
    @include center-content;
    flex-direction: column;
}

header{
    @include center-content;
    height: 100px;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0px;
}

#localisation
{
    @include center-content;
    
    background: $gris-fonce;
    i{
        padding-right: 10px;
        color: black;
    }
}

.intro{
    @include center-content;
    background-color: $gris-clair;
    flex-direction: column;
    text-align: center;
    height: 300px;
        &__info{
        height: 80px;   
    }
    &__titre{
        height: 100px;
    }
    &__btn{
        @include degrade;
        height: 40px;
        width: 200px;
        border-radius: 30px;
        color: white;
        @include center-content;
        box-shadow: 7px 7px 4px $gris-fonce;
    }
}

.fonct{
    height: 320px;
   
    flex-wrap: nowrap;
    &__titre{
       margin-left: 20px;
    }
    &__list{
        
    }
}
.cellule{
    background-color: $gris-clair;
    border-radius: 20px;
    height: 25px;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 14px -2px rgba(199,199,199,1);
    -moz-box-shadow: 0px 0px 14px -2px rgba(199,199,199,1);
    box-shadow: 0px 0px 14px -2px rgba(199,199,199,1);
    &:hover {
        @include btn-shadow($color-primary);
        cursor: pointer;
    }
    &:hover .fas{
        color: $color-primary;
    }
}
ol {
    list-style-type: none; 
    padding: 0px 10px 0px 10px;
}
li {
    padding: 20px;
    margin: 10px;
    counter-increment: list;
    font-size: 15px;
    @include gras;
}

li:before {
    content: counter(list);
    font-size: 13px;
    color: white;
    background-color: $color-primary;
    border-radius: 50%;
    margin: 0px 20px 0px -32px;
    padding: 4px 8px;
}

.fas {
   margin: 5px;
   padding-right: 10px;
   color:grey;
}

#restaurants{
    background-color: $gris-clair;
    margin: auto;
    height: 900px;
    width: 320px;   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h1{
        margin-left: 20px;
    }
}

.rest-prev--palette{
    @include rest-prv;
    background: url('../images/la-palette-du-gout.jpg') center/cover;
    background-position-y: -50px;
    &__info{
        @include rest-prvinfo;
        &__detail{
            @include paddinginfo;
        span{
            @include gras;
        }
        }
        &__coeur{
            @include paddingcoeur;
        }    
    }
}

.rest-prev--note{
    @include rest-prv;
    background: url('../images/la-note-enchantee.jpg') center/cover;
    background-position-y: -120px;
    &__info{
        @include rest-prvinfo;
        &__detail{
            @include paddinginfo;
        span{
            @include gras;
        }
        }
        &__coeur{
            @include paddingcoeur;
        }  
    }    
}

.rest-prev--francaise{
    @include rest-prv;
    background: url('../images/a-la-francaise.jpg') center/cover;
    background-position-y: -50px;
    &__info{
        @include rest-prvinfo;
        &__detail{
            @include paddinginfo;
        span{
            @include gras;
        }
        }
        &__coeur{
            @include paddingcoeur;
        }  
    }    
}

.rest-prev--delice{
    @include rest-prv;
    background: url('../images/le-delice-des-sens.jpg') center/cover;
    background-position-y: -50px;
    &__info{
        @include rest-prvinfo;
        &__detail{
            @include paddinginfo;
        span{
            @include gras;
        }
        }
        &__coeur{
            @include paddingcoeur;
        }  
    }    
}

