@font-face {
  font-family: 'robotoregular';
  src: url("Roboto-Regular-webfont.eot");
  src: url("Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("Roboto-Regular-webfont.woff2") format("woff2"), url("Roboto-Regular-webfont.woff") format("woff"), url("Roboto-Regular-webfont.ttf") format("truetype"), url("Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Shrikhand-Regular';
  src: url("Shrikhand-Regular.otf");
  font-weight: normal;
  font-style: normal; }
h1 {
  font-family: 'Shrikhand-Regular'; }

#index {
  height: 100%;
  width: 320px; }

body {
  font-family: 'robotoregular';
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0px; }

#localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E0E0E0; }
  #localisation i {
    padding-right: 10px;
    color: black; }

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
  flex-direction: column;
  text-align: center;
  height: 300px; }
  .intro__info {
    height: 80px; }
  .intro__titre {
    height: 100px; }
  .intro__btn {
    background: linear-gradient(#FF79DA, #9356DC);
    height: 40px;
    width: 200px;
    border-radius: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 7px 7px 4px #E0E0E0; }

.fonct {
  height: 320px;
  flex-wrap: nowrap; }
  .fonct__titre {
    margin-left: 20px; }

.cellule {
  background-color: #F5F5F5;
  border-radius: 20px;
  height: 25px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 14px -2px #c7c7c7;
  -moz-box-shadow: 0px 0px 14px -2px #c7c7c7;
  box-shadow: 0px 0px 14px -2px #c7c7c7; }
  .cellule:hover {
    background-color: #f2eafb;
    cursor: pointer; }
  .cellule:hover .fas {
    color: #9356DC; }

ol {
  list-style-type: none;
  padding: 0px 10px 0px 10px; }

li {
  padding: 20px;
  margin: 10px;
  counter-increment: list;
  font-size: 15px;
  font-weight: bold; }

li:before {
  content: counter(list);
  font-size: 13px;
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  margin: 0px 20px 0px -32px;
  padding: 4px 8px; }

.fas {
  margin: 5px;
  padding-right: 10px;
  color: grey; }

#restaurants {
  background-color: #F5F5F5;
  margin: auto;
  height: 900px;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  #restaurants h1 {
    margin-left: 20px; }

.rest-prev--palette {
  margin: auto;
  height: 200px;
  width: 280px;
  position: relative;
  border-radius: 10px;
  background: url("../images/la-palette-du-gout.jpg") center/cover;
  background-position-y: -50px; }
  .rest-prev--palette__info {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    line-height: 15px;
    margin-top: -10px; }
    .rest-prev--palette__info__detail {
      padding: 10px; }
      .rest-prev--palette__info__detail span {
        font-weight: bold; }
    .rest-prev--palette__info__coeur {
      padding: 15px; }

.rest-prev--note {
  margin: auto;
  height: 200px;
  width: 280px;
  position: relative;
  border-radius: 10px;
  background: url("../images/la-note-enchantee.jpg") center/cover;
  background-position-y: -120px; }
  .rest-prev--note__info {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    line-height: 15px;
    margin-top: -10px; }
    .rest-prev--note__info__detail {
      padding: 10px; }
      .rest-prev--note__info__detail span {
        font-weight: bold; }
    .rest-prev--note__info__coeur {
      padding: 15px; }

.rest-prev--francaise {
  margin: auto;
  height: 200px;
  width: 280px;
  position: relative;
  border-radius: 10px;
  background: url("../images/a-la-francaise.jpg") center/cover;
  background-position-y: -50px; }
  .rest-prev--francaise__info {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    line-height: 15px;
    margin-top: -10px; }
    .rest-prev--francaise__info__detail {
      padding: 10px; }
      .rest-prev--francaise__info__detail span {
        font-weight: bold; }
    .rest-prev--francaise__info__coeur {
      padding: 15px; }

.rest-prev--delice {
  margin: auto;
  height: 200px;
  width: 280px;
  position: relative;
  border-radius: 10px;
  background: url("../images/le-delice-des-sens.jpg") center/cover;
  background-position-y: -50px; }
  .rest-prev--delice__info {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    line-height: 15px;
    margin-top: -10px; }
    .rest-prev--delice__info__detail {
      padding: 10px; }
      .rest-prev--delice__info__detail span {
        font-weight: bold; }
    .rest-prev--delice__info__coeur {
      padding: 15px; }

/*# sourceMappingURL=style.css.map */
