@font-face {
  font-family: 'robotoregular';
  src: url("Roboto-Regular-webfont.eot");
  src: url("Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("Roboto-Regular-webfont.woff") format("woff"), url("Roboto-Regular-webfont.ttf") format("truetype"), url("Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Shrikhand-Regular';
  src: url("Shrikhand-Regular.otf") format "otf";
  font-weight: normal;
  font-style: normal; }
#image img {
  width: 320px; }

a {
  text-decoration: none;
  color: black; }

body {
  font-family: 'robotoregular';
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 13px; }

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 320px;
  background-color: white;
  position: fixed;
  top: 0px; }

.logo_titre {
  width: 260px; }

.return {
  font-size: 20px;
  width: 50px;
  margin-left: 15px; }

h1 {
  font-family: 'Shrikhand-Regular';
  font-weight: bold; }

.menu {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 1060px;
  border-radius: 40px 40px 0px 0px;
  margin: -50px;
  background-color: #F5F5F5; }
  .menu__titre {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px; }
    .menu__titre .far {
      font-size: 20px; }
  .menu__detail {
    height: 300px;
    padding: 10px;
    margin-top: -25px; }
  .menu__commande {
    height: 100px;
    margin-top: -47px;
    display: flex;
    justify-content: center;
    align-items: center; }

.categorie h2 {
  font-weight: lighter;
  text-transform: uppercase; }

.titre_couleur {
  border-bottom: 2px solid #99E2D0; }

.btn {
  width: 270px;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  -webkit-box-shadow: 0px 0px 14px -2px #c7c7c7;
  -moz-box-shadow: 0px 0px 14px -2px #c7c7c7;
  box-shadow: 0px 0px 14px -2px #c7c7c7;
  margin: 10px;
  flex-grow: 1; }
  .btn:hover {
    cursor: pointer; }
    .btn:hover > .btn__animation {
      transform: translateX(-50px); }
    .btn:hover > .btn__animation__circle {
      transform: rotate(90deg); }
  .btn__animation {
    width: 15%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border-radius: 0px 10px 10px 0px;
    background-color: #99E2D0;
    transition: transform 500ms;
    transform-origin: 100% 0%; }
    .btn__animation__circle {
      color: white;
      background-color: #99E2D0;
      transition: transform 500ms;
      display: inline; }
  .btn span {
    font-weight: bold; }
  .btn__detail {
    width: 70%; }
  .btn__prix {
    width: 15%;
    display: flex;
    align-items: flex-end; }

.btn_commande {
  background: linear-gradient(#FF79DA, #9356DC);
  height: 40px;
  width: 200px;
  border-radius: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: -1px 4px 10px 2px rgba(125, 125, 125, 0.55);
  box-shadow: -1px 4px 10px 2px rgba(125, 125, 125, 0.55);
  cursor: not-allowed; }

footer {
  background-color: #424242;
  width: 320px;
  color: white; }

.footer_titre {
  height: 30px;
  width: 320px; }
  .footer_titre img {
    height: 15px;
    margin: 15px; }

.footer_info {
  height: 100px;
  margin: 0px 0px 15px 15px; }
  .footer_info li {
    list-style-type: none;
    margin-left: -40px;
    line-height: 20px; }
  .footer_info li:nth-of-type(1) {
    font-weight: bold; }
  .footer_info li:nth-of-type(2) {
    font-weight: bold; }
  .footer_info .fas {
    font-size: 9px;
    width: 15px; }
  .footer_info .fa-utensils {
    font-size: 10px; }

/*# sourceMappingURL=stylemenu.css.map */
