$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$gris-clair: #F5F5F5;
$gris-fonce: #E0E0E0;

@mixin center-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin gras {
    font-weight: bold;
}
@mixin sizecoeur {
    padding: 15px;
    font-size: 20px;
}
@mixin coeur {
    background: -webkit-gradient(linear, left top, left bottom, from($color-primary), to($color-secondary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
@mixin paddinginfo {
    padding: 10px;
}
@mixin box-shadow {
    -webkit-box-shadow: 0px 10px 18px -1px rgba(153,153,153,1);
    -moz-box-shadow: 0px 10px 18px -1px rgba(153,153,153,1);
    box-shadow: 0px 10px 18px -1px rgba(153,153,153,1);
}
@mixin rest-prv {
    margin: auto;
    height: 200px;
    width: 280px;
    position: relative;
    border-radius: 15px;
}
@mixin rest-prvinfo{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    line-height: 15px;
    margin-top:-10px; 
}
@mixin btn-shadow($color-primary){
    background-color: lighten($color-primary, 35%);
} 
@mixin btn-shadow2 {
    -webkit-box-shadow: 0px 0px 14px -2px rgba(199,199,199,1);
    -moz-box-shadow: 0px 0px 14px -2px rgba(199,199,199,1);
    box-shadow: 0px 0px 14px -2px rgba(199,199,199,1);
}

@mixin degrade {
    background: linear-gradient($color-secondary,$color-primary);
}
@mixin box-shadow {
    -webkit-box-shadow: -1px 4px 10px 2px rgba(125,125,125,0.55); 
    box-shadow: -1px 4px 10px 2px rgba(125,125,125,0.55);
}
@font-face {
    font-family: 'robotoregular';
    src: url('../font/Roboto-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Shrikhand-Regular';
    src: url('../font/Shrikhand-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

#image{
    margin-bottom: -35px;
 
    img{
    width: 320px;
    }
}

a{
    text-decoration: none;
    color: black;
}

body{
    font-family: 'robotoregular';
    @include center-content;
    flex-direction: column;
    font-size: 13px;
    height: 100%;;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 320px;
    background-color: white;
    position: fixed;
    top: 0px;
    z-index: 1;
    a{
        
    }
}
.logo_titre
{
    width: 260px;
}
.return{
    font-size: 20px;
    width: 50px;
    margin-left: 15px;
}

h1{
    font-family: 'Shrikhand-Regular';
    @include gras;
    font-size: 20px;
}

.btn {
    
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari et Chrome */
    -o-animation: fadein 2s; /* Opera */

}
.btn:nth-child(1) { animation-duration: 2s}
.btn:nth-child(2) { animation-duration: 3s}
.btn:nth-child(3) { animation-duration: 4s}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* sur Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.menu{
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 100%;
    border-radius: 40px 40px 0px 0px;
    background-color: $gris-clair;
    &__coeur{
        @include sizecoeur;
            @include center-content;
            :hover > .far{
                display: none;
            }
            :hover > .fas{
                display: block;
            } 
        .fas {
            display: none;
            @include coeur;
        }    
    }
    &__titre{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px;
    }
    &__detail{
        height: 100%;
        padding: 10px;
    }
    &__commande{
        height: 100px;
        margin-top: -20px;
        @include center-content;
    }
}

.categorie h2{
    font-weight: lighter;
    text-transform: uppercase;
}

.titre_couleur{
    border-bottom: 2px solid $color-tertiary;
}
.btn{
    width: 270px;
    font-size: 10px;
    background-color:white;
    border-radius: 10px;
    display: flex;
    @include btn-shadow2;
    margin: 10px;
    text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    flex-grow: 1;
    &:hover{ 
        cursor: pointer;
    & > .btn__animation {
        transform: scaleX(1);  
        width: 50px; 
        transition: 800ms;     
        &__circle{
        
        }  
        } 
    & > .btn__detail {
        width: 190px;  
        transition: 800ms;
        
        }  
    & > .btn__prix {
        transition: 800ms;  
        width: 30px; 
        }     
    }    
    &__animation{
        @include center-content;
        font-size: 15px;
        border-radius: 0px 10px 10px 0px;
        background-color: $color-tertiary;
        transition: 800ms;
        transform: scaleX(0);
        transform-origin: 100% 0%;
        &__circle i{
            background-color:$color-tertiary;
            transform: rotate(-360deg);
            color: white;
            transition: 800ms;
            display: block;
            animation-play-state: running, paused;
            
       }
    }     
    span{
        @include gras;
        }
    &__detail{
        width: 250px;  
        padding-left: 5px;    
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        p{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis; 
        }
        }
    &__prix{
        width: 20px;
        display: flex;
        margin-left: 10px;
        justify-content: center;
        align-items: flex-end;

    }
}

.btn_commande{
    @include degrade;
    height: 40px;
    width: 200px;
    border-radius: 30px;
    color: white;
    @include center-content;
    @include box-shadow;
    cursor: pointer;
}

footer{
    background-color: #424242;
    width: 320px;
    color: white;
    h3{
        font-family: 'Shrikhand-Regular';
        margin: 15px;
        padding-top: 10px;
    }
    a{
        text-decoration: none;
        color: white;
    }
    .fas{
       
        font-size: 9px;
        width: 15px;
    }
    .fa-utensils{
        font-size: 10px;
    }

}
 .footer_titre
 {

    height: 30px;
    width: 320px;
 }

 .footer_info{
    height: 100px;
    margin: 0px 0px 15px 15px;  
    li{
        list-style-type: none;
        margin-left: -40px;
        line-height: 20px;
    }
    li:nth-of-type(1) {
        @include gras;
      }
    li:nth-of-type(2) {
        @include gras;
    }
    
 }