h1{
    font-family: 'Shrikhand-Regular';
    @include gras;
    font-size: 20px;
}

.categorie h2{
    font-weight: lighter;
    text-transform: uppercase;
}

.titre_couleur{
    border-bottom: 2px solid $color-tertiary;
}