.menu{
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 100%;
    border-radius: 40px 40px 0px 0px;
    background-color: $gris-clair;
    &__coeur{
        @include sizecoeur;
            @include center-content;
            :hover > .far{
                display: none;
            }
            :hover > .fas{
                display: block;
            } 
        .fas {
            display: none;
            @include coeur;
        }  
        @media only screen and (min-width:$breakpoint-tablet){
            font-size: 40px;
        }  
    }
    &__titre{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px;
    }
    &__detail{
        height: 100%;
        padding: 10px;
    }
    &__commande{
        height: 100px;
        margin-top: -20px;
        @include center-content;
    }
    @media only screen and (min-width:$breakpoint-tablet){
        width: $mqsize;
        font-size: 20px;
    }
}

#image{
    margin-bottom: -35px;
    @media only screen and (min-width:$breakpoint-tablet){
        width: $mqsize;
    }
 
    img{
    width: 320px;
    @media only screen and (min-width:$breakpoint-tablet){
        width: $mqsize;
    }
    }
}

a{
    text-decoration: none;
    color: black;
}

body{
    height: 100%;
    @include center-content;
    flex-direction: column;
    @media only screen and (min-width:$breakpoint-tablet){
        width: $mqsize;
        margin: auto;
    }
}

#header{
    height: 40px;
    width: 320px;
    img{
        width: 150px;
    }
    @media only screen and (min-width:$breakpoint-tablet){
        width: $mqsize;
        height: 100px;
        img{
            width: 400px;
        }
    }
} 